Binaries/
Build/
Debug/
Intermediate/
Saved/

Content/Collections/
Content/Developers/

Plugins/DirectInput/Binaries/
Plugins/DirectInput/Intermediate/
Plugins/HapticVehicle/Binaries/
Plugins/HapticVehicle/Intermediate/

.vs/

*.sln
*.suo
*.sdf
*.opensdf
*.db
*.opendb
*.exe
*.pdb
